
html {
  background-color: grey; /* changes the background color of the page */
  font-size: 20px;
}

.my-button{
  display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0f3052;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif;  
}